.arrow {
  display: block;
  position: relative;
}

.arrow .label {
  position: absolute;
  width: 100%;
}

.arrow.arrow-representative .label {
  left: 75px;
  top: 38px;
}

.arrow.arrow-motion .label {
  left: 0;
  top: 130px;
}

.arrow.arrow-proposition .label {
  left: 110px;
  top: 0px;
}
.arrow.arrow-committee .label {
  left: 110px;
  top: 70px;
}
