.pie-container {
  position: relative;
}

.pie-container .representative.hover {
    stroke-width: 2;
    stroke: rgba(255, 255, 255, 0.7);
}

.pie-container .representative.highlight {
    stroke-width: 2;
    stroke: rgba(0, 0, 0, 0.7);
}

.pie-container .bold {
    font-weight: bold;
}

.pie-chart {
  position: absolute;
  bottom: 0;
}
