.pie-container {
    position: relative;
}

.pie-container .representative {
    stroke-width: 2;
    fill: rgba(255, 255, 255, 0.67);
    cursor: pointer;
}

.pie-container .representative:hover {
    stroke-width: 2;
    stroke: rgba(255, 255, 255, 0.8);
    fill: grey;
}

.pie-container .representative.selected {
    stroke-width: 2;
    stroke: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
}

.pie-container .representative.disabled {
    stroke-width: 2;
    fill: rgba(255, 255, 255, 0.4);
}

.pie-container .representative.highlight {
    stroke-width: 2;
    stroke: rgba(0, 0, 0, 0.7);
}
.pie-container .representative.vote {
    fill: rgba(255, 255, 255, 0.4);
}
.pie-container .representative.vote-yes {
    fill: rgba(255, 255, 255, 1.0);
    stroke: rgba(0, 0, 0, 1);
}
.pie-container .representative.vote-no {
    fill: rgba(0, 0, 0, 1.0);
}
.pie-container .representative.vote-abstained {
    fill: rgba(0, 0, 0, 1.0);
}
.pie-container .representative.vote-abstained {
    content:'-'
}
.pie-container .representative.vote-absent {
    fill: rgba(255, 255, 255, 0.4);
}
.pie-container .representative.vote-irrelevant {
    fill: rgba(255, 255, 255, 0.0);
    stroke: rgba(255, 255, 255, 0.1);
}

.pie-container .bold {
    font-weight: bold;
}

.pie-container .name-container div {
    text-align: center;
}

.pie-container .name-container .district {
    font-size: small;
}

.pie-container .name-container .vote {
    font-size: small;
    font-weight: bold;
}

.pie-container .name-container .repr-image {
    width: 50px;
    height: 50px;
    margin: auto;
}

.pie-container .name-container .repr-image img {
    border-radius: 50%;
}

.pie-chart {
    position: absolute;
    bottom: 0;
}
