.pie-container {
  position: relative;
}

.pie-container .representative.highlight {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.7));
    stroke-width: 2;
    stroke: rgba(255, 255, 255, 0.7);
}

.pie-chart {
  position: absolute;
  bottom: 0;
}
