.layout {
  display: flex;
}

.title {
  display: block;
  position: fixed;
  top: 8%;
  left: 5%;
  z-index: 10;
  text-align: left;
  font-size: calc(25pt);
  color: black;
}

.description {
  font-size: 10pt;
  width: 60%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: calc(100% - 50px);
  margin: 20px 0;
}

.navbar {
  position: fixed;
  right: 0;
  background-color: black;
  padding-top: 35px;
  color: white;
  width: 50px;
  min-height: 100%;
  z-index: 10;
}
.rotation-wrapper-outer {
  display: table;
}
.rotation-wrapper-inner {
  width: 50px;
  padding: 100% 0px;
}
.link {
  display: block;
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%);
  margin-left: 30%;
  white-space: nowrap;
}

#git {
  text-align: center;
  position: fixed;
  width: 50px;
  bottom: 0;
  margin-bottom: 20px;
}

img {
  width: 55%;
}

/* .top-section{
  display:flex;
  flex-direction:row;
  justify-content: center;
  width: calc(100vw - 50px);
  margin: auto;

} */

.mid-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 50px);
  margin: 20px 0;
}


/* .buttom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 50px);
  margin: 20px 0;
} */


